body {
    background-color: #faf3eb;
    color: #FFAD4A;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    font-size: 6em;
    max-width: 500px;
  }
  
  h2 {
    font-size: 2.6em;
    max-width: 500px;
  }

  h3 {
    font-size: 1em;
    max-width: 500px;
  }

  a {
    color: #FFAD4A;
  }
  
  form {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  input[type="text"] {
    font-size: 1.2em;
    color: #FFAD4A;
    border-color: #FFAD4A;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 500px;
  }

  /* Set placeholder text color to black */ 
  ::placeholder { color: #FFAD4A; }
  
  button[type="submit"] {
    background-color: #FFAD4A;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 30px;
  }
  
  button[type="submit"]:hover {
    background-color: #fca235;
  }
  
  p {
    font-size: 1.2em;
    max-width: 500px;
    word-wrap: break-word;
    text-align: left;
    margin: 20px auto;
    padding: 10px;
    background-color: #f8e7d2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  