@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #e6ebf0;
    color: #5ba2f4;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 500px;
    padding: 0;
  }
  
  
  h1 {
    font-size: 6.4em;
    font-weight: 600;
    font-family: Roboto;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    padding: 0;
  }
  
  h2 {
    font-size: 2.6em;
    font-family: Roboto;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    padding: 0;
  }

  a {
    color: #5ba2f4;
  }
  
  form {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  input[type="text"] {
    font-size: 1.2em;
    color: #5ba2f4;
    border-color: #5ba2f4;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 500px;
  }

  /* Set placeholder text color to black */ 
  ::placeholder { color: #5ba2f4; }
  
  button[type="submit"] {
    background-color: #5ba2f4;
    color: #e6ebf0;
    font-size: 1.2em;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 30px;
  }
  
  button[type="submit"]:hover {
    background-color: #5ba2f4;
  }
  
  p {
    font-size: 1.2em;
    max-width: 500px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #cedfef;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  