<!DOCTYPE html>
<html>
<head>
    <title>PregChat</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1>DocGPT</h1>
    <h2>Questions about your health? DocGPT will respond using a knowledge base of 250,000 doctor-patient dialogues and 
        OpenAI's GPT-3 text completions model. Disclaimer: The chatbot's medical advice is for information only. Please consult a healthcare provider for professional advice.</h2>
    <form method="POST">
        <input type="text" name="text" placeholder="Enter your question...">
        <button type="submit" name="submit">Ask DocGPT</button>
    </form>
    {% if answer %}
        <p> Q : {{ text }} <br><br>
            PregChat : {{ answer }}</p>
    {% endif %}
</body>
</html>